<<<<<<< HEAD
.container{
  display: grid;
 
}
.images {
    width:250px;
    height:250px;}
    
 .image   {
     padding-right: 240px;
     margin-right: 160px;
     margin-top:10px 
     
 }
 .hoteldetails{
     transform: translate(260px,-260px);
 }
     .Content{
        display: inline-grid;
    } 

 #image1{
    grid-column-start:1 ;
    grid-column-end: 2;
    background-color: rgb(132,136,139); 
    height: 250px;
    
}
#image2{
    display: grid;
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 2;
    background-color: rgb(132,136,139); 
    height: 250px;
}
#image3{
    
    grid-column-start:1 ;
    grid-column-end: 2;
    background-color: rgb(132,136,139); 
    height: 250px;
    
} 
#view{
    margin-left: 500px;
}
=======

body{
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
    font-family:  'Ubuntu', sans-serif; 
    
   
}
#list{
    display: grid;
    justify-content: center;
    text-decoration: none;
        color: black;
        text-transform: uppercase;
}
 #logo{
    height: 60px;
    width: 60px;
}
.Content{
    padding-left:10px ;
    
}

.images {
    width:250px;
    height:250px;
    margin-top: 30px ;
    padding-bottom: 400px;
    padding-right: 400px;
    background-color: rgb(132,136,139);
    }
.social{
width:22px;
height:20px;
float: right;
}
#Room{
    text-align: center;
    text-decoration: none;
        color: black;
        text-transform: uppercase;
}
#login{
    float: right;
    margin-right: 25px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    line-height: 50px;
        padding-right: 10px;
}
.Header{
    background:rosybrown ;}

  
    .Footer{
    background:rosybrown ;}
    #contact{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }
>>>>>>> 3ccf7f6e720a28e592ff7e1ec28618366da80c54
